* {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
::-webkit-scrollbar {
    display:none;
}
html{
	margin：0 20px;
}
#app, body, html {
    height:100%;
}
body {
	font-size: 88px;
    background:#f9faff;
    font-family:sans-serif;
}
iframe {
    display:none;
}
ol, ul {
    list-style:none;
}
input, input:active, input:focus {
    border:0;
    outline:0
}
i {
    font-style:normal;
}
a, button, div, label, span {
    -webkit-tap-highlight-color:transparent
}
.clearfix:after {  content: "."; display: block; height: 0; clear: both; visibility: hidden;  }   
.clearfix {*zoom: 1;}  

.tabs{
    width: 100%;
    height: 41.6px;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #f6f6f6;
    background: #fff;
}
.tabs .tab{
    flex: 1 1;
    text-align: center;
    line-height: 41.6px;
    text-decoration: none;
    color: #333;
}
.tabs .tab img{
	width: 100%;
	height: 100%;
}
.tabs .tab.active{
    
}
.page{
    font-size: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 49px;
    background: #fff;
}
.page.subpage{
    bottom: 0;
    z-index: 5;
}